<style>
    /*  Hacer que la imagen sea totalmente sensible */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    
</style>
<br> <!-- un salto de linea para el slieder -->
<!-- se genera Tres columnas iguales -->
<div class="row">
    <div class="col-sm-1" style="background-color:white;"></div>
    <!-- inica Segunda colomna -->
    <div class="col-sm-10" style="background-color:white">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Los indicadores -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="<?php echo base_url();?>/Imagenes/image3.jpg" width="1500" height="500">
                </div>
                <div class="carousel-item">
                    <img src="<?php echo base_url();?>/Imagenes/14.jpg" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="<?php echo base_url();?>/Imagenes/10.jpg" width="1100" height="500">
                </div>
            </div>

            <!-- Controles izquierdo y derecho -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <br>
        <!-- Contenido -->
<h1 class="text-center p-2">Servicio de Guarderías en el IMSS </h1>
<h style=”text-align: justify;”>En el servicio de guardería se atiende el desarrollo integral del niño y la niña, a través del cuidado y fortalecimiento de su salud, además se brinda una sana alimentación y un programa educativo-formativo acorde a su edad y nivel de desarrollo </h>
<br><br>
<h3>Misión</h3>
<p style=”text-align: justify;”>Nuestra misión es proporcionar a los hijos de las madres trabajadoras aseguradas, padres viudos, divorciados o de aquél al que judicialmente se le ha otorgado la custodia de sus hijos e hijas; todos aquellos elementos que favorezcan su desarrollo integral a través de programas de alto valor educativo, nutricional, de preservación y de fomento a la salud, así como satisfacer la demanda mediante la ampliación de cobertura.</p>
<h3>Visión</h3>
<p style=”text-align: justify;”>Nuestra visión es promover el desarrollo integral de los niños y niñas, mediante la aplicación de modelos educativos vanguardistas con personal calificado que proporcione el servicio con calidad, respeto y calidez; en instalaciones seguras y funcionales, que se adapten a las necesidades de la demanda con procesos automatizados y estandarizados que permitan evaluar su desempeño en el progreso del menor.</p>
<br><br>

    </div><!-- Termina Segunda columna -->
    <!-- Tercera columna -->
    <div class="col-sm-1" style="background-color:white;"></div>
</div> <!-- Termina el codigo de Tres columnas iguales -->